{% extends "base.html" %}

{% block stylesheet %}
<title>Environmental Impact</title>
<link rel="stylesheet" type="text/css" href="/static/css/envimp.css"/>
{% endblock %}

{% block content %}
<div class="hero-background">
    <img src="/static/images/background-alt.png">
</div>
<div class="explanation">
    <h1>What is Environmental Impact?</h1>
    <p>The "environmental impact" value, ranging from 0-1, provides a clear indication of how much harm a product or its production process can cause to the environment. To put this into perspective, a value of 0.1 is the equivalent of running an electric car for 10 minutes, whereas a value of 1 is the equivalent of running a diesel car for 35 minutes.</p>
    <p>This value is calculated by considering various factors, including the amount of energy and resources utilized in the manufacturing process, the materials used in the product, the carbon footprint linked with shipping and transportation, and the product's end-of-life disposal potential.</p>
    <p>Products with lower environmental impact values are considered more eco-friendly, sustainable, and responsible options for shoppers who prioritize reducing their carbon footprint and environmental conservation. By using this metric, eco-friendly e-commerce websites enable consumers to make informed decisions about the products they purchase and contribute to a more sustainable future.</p>
    <p>Here at WebWagon, we like to ensure that all products are manufactured and distributed fairly and as eco-friendly as possible. By making sure our products are manufactured using only the most organic methods, and ensuring that farmers and producers alike are paid their fair share, all parts of the chain that work to make our products as safe for the environment as possible.</p>
</div>
{% endblock %}
